@charset "UTF-8";

/* カード内の画像は以下のURLを使用して下さい */
/* https://picsum.photos/id/1005/200/300 */

.box-green {
  width: 200px;
  height: 200px;
  background-color: #76ff826b;
  margin: 0 auto;
}

/* フェードイン */

.fade-in {
  animation-name: fade-in;
  animation-duration: 4s;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

/* フェードアウト */

.fade-out {
  animation-name: fade-out;
  animation-duration: 4s;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

/* 回転 */
.rotate {
  animation-name: rotate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.box-blue {
  width: 200px;
  height: 200px;
  background-color: #331aefd0;
  margin: 0 auto;
}

.change-color:hover {
  background-color: #ff27e2c9;
  transition: all 1s 0s linear;
}

.change-rotate:hover {
  transform: rotate(360deg);
  transition: all 1s 0s linear;
}

.slide-up:hover {
  transform: translateY(-20%);
  transition: all 1s 0s linear;
}

.slide-right:hover {
  transform: translateX(20%);
  transition: all 1s 0s linear;
}

.stretch-y:hover {
  transform: scaleY(1.5);
  transition: all 1s 0s linear;
}

.stretch-x:hover {
  transform: scaleX(2.5);
  transition: all 1s 0s linear;
}

.frame-border:hover {
  box-sizing: border-box;
  border: 10px solid #00ffe5;
  transition: all 1s 0s linear;
}

.shadow:hover {
  box-shadow: 8px 11px 10px 3px #06031ed0;
  transition: all 0.5s 0s linear;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #ecf1f2;
  border-top-color: #14ff4bcd;
  border-radius: 50px;
  margin: 0 auto;
  animation: spinner 1s 0s infinite linear;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-list {
  display: flex;
  justify-content: center;
}

.card-list > li {
  width: 300px;
  border: 1px solid #000;
  border-right: none;
  padding: 20px;
}

.card-list > li:last-child {
  border: 1px solid #000;
}

.card-thumbnail {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.card-list > li:hover {
  box-shadow: 0px 0px 10px 3px #424242d0;
  transition: all 0.3s 0s linear;
}
